{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Start Slider area -->
        <div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
					{% for slider in sliders %}
					<!-- Start Single Slide -->
						<div class="slide animation__style10 bg-image--1 fullscreen align__center--left" style="background-image: url('{{slider.image.url}}')">
							<div class="container">
								<div class="row">
									<div class="col-lg-12">
										<div class="slider__content">
											<div class="contentbox">
												<h2>{{slider.title}}</h2>
												<h3>{{slider.body}}</h3>
												<a href="{{slider.link}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">{{slider.button_name}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- End Single Slide -->
					{% endfor %}
        </div>
        <!-- End Slider area -->
		<!-- Start New Product -->
		<section class="wn__product__area brown--color pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2"><span class="color--theme">Новинки</span></h2>
						</div>
					</div>
				</div>
				<!-- Start Single Tab Content -->
				<div class="furniture--4 border--round arrows_style owl-carousel owl-theme row mt--50">
					{% for product in all_products %}
					  {% if product.product_status == 'published' %}
							<div class="product product__style--3">
								<div class="col-lg-3 col-md-4 col-sm-6 col-12">
									<div class="product__thumb">
										<a class="first__img" id="product-get_absolute_url-{{product.id}}" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
										<a class="second__img animation1" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
										{% if product.tag is not None %}
											<div class="hot__box">
												<span class="hot-label">{{product.tag}}</span>
											</div>
										{% endif %}
									</div>
									<div class="product__content content--center">
										<h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
										<ul class="prize d-flex">
											<li id="product-price-{{product.id}}">{{product.price}} руб.</li><!--!!!-->
											{% if product.past_price is not None %}
												<li class="old_prize">{{product.past_price}} руб.</li>
											{% endif %}
										</ul>
										<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
										<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
										<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
										<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
										<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
										<div class="action">
											<div class="actions_inner">
												<ul class="add_to_links">
													<li><a class="cart" title="Подробней" href="{{product.get_absolute_url}}"><i class="bi bi-shopping-bag4"></i></a></li>
													<li><a class="wishlist add-to-cart-btn {% if product.total_quantity < 1 %} disabled {% endif %}" title="В корзину" data-index="{{product.id}}" id="add-to-cart-btn" href="#"><i class="bi bi-shopping-cart-full"></i></a></li>
													<li><a class="compare" title="В избранное" data-product-item="{{product.id}}" href="#"><i class="bi bi-heart-beat"></i></a></li>
													<li><a data-toggle="modal" title="Быстрый просмотр" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
					<!-- Start Single Product -->
				</div>
				<!-- End Single Tab Content -->
			</div>
		</section>
		<!-- Start BEst Seller Area -->
		<!-- Start NEwsletter Area -->
		<section class="wn__newsletter__area bg-image--2" style="background-image: url('{% static 'images/bg/2.jpg' %}')">
			<div class="container" id='Subscribe'>
				<div class="row">
					<div class="col-lg-7 offset-lg-5 col-md-12 col-12 ptb--150">
						<div class="section__title text-center">
							<h2>Оставайтесь с нами</h2>
						</div>
						<div class="newsletter__block text-center">
							<p>Подпишись на еженедельную рассылку и узнавай об акциях первым!</p>
							<form action="#">
								<div class="newsletter__box">
									<input type="email" placeholder="Ваш e-mail" {% if user.is_authenticated %} value="{{ user.email }}" disabled {% endif %}>
									<button type="button" class="btn btn-info">Подписаться</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End NEwsletter Area -->
		<!-- Start Our Products Area -->
		<section class="wn__bestseller__area bg--white pt--80  pb--30">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center">
							<h2 class="title__be--2">Наши <span class="color--theme">товары</span></h2>
						</div>
					</div>
				</div>
				<div class="row mt--50">
					<div class="col-md-12 col-lg-12 col-sm-12">
						<div class="product__nav nav justify-content-center" role="tablist">
                            <a class="nav-item nav-link active" data-toggle="tab" href="#nav-all" role="tab">Общая</a>
														{% for category in categories %}
															<a class="nav-item nav-link" data-toggle="tab" href="#nav-{{category.url}}" role="tab">{{category.name}}</a>
														{% endfor %}
                        </div>
					</div>
				</div>
				<div class="tab__container mt--60">
					<!-- Start Single Tab Content -->
					<div class="row single__tab tab-pane fade show active" id="nav-all" role="tabpanel">
						<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
							{% for product in all_products %}
								{% if product.product_status == 'published' %}
									{% if not forloop.counter|divisibleby:2 %}
										<div class="single__product">
											<!-- Start Single not divisibleby Product -->
											<div class="col-lg-3 col-md-4 col-sm-6 col-12">
												<div class="product product__style--3">
													<div class="product__thumb">
														<a class="first__img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
														<a class="second__img animation1" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
														{% if product.tag is not None %}
															<div class="hot__box">
																<span class="hot-label">{{product.tag}}</span>
															</div>
														{% endif %}
													</div>
													<div class="product__content content--center content--center">
														<h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
														<ul class="prize d-flex">
															<li id="product-price-{{product.id}}">{{product.price}} руб.</li><!--!!!-->
															{% if product.past_price is not None %}
																<li class="old_prize">{{product.past_price}} руб.</li>
															{% endif %}
														</ul>
														<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
														<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
														<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
														<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
														<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
														<div class="action">
															<div class="actions_inner">
																<ul class="add_to_links">
																	<li><a class="cart" title="Подробней" href="{{product.get_absolute_url}}"><i class="bi bi-shopping-bag4"></i></a></li>
																	<li><a class="wishlist add-to-cart-btn {% if product.total_quantity < 1 %} disabled {% endif %}" title="В корзину" data-index="{{product.id}}" href="#" id="add-to-cart-btn"><i class="bi bi-shopping-cart-full"></i></a></li>
																	<li><a class="compare" title="В избранное" data-product-item="{{product.id}}" href="#"><i class="bi bi-heart-beat"></i></a></li>
																	<li><a data-toggle="modal" title="Быстрый просмотр" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- End Single not divisibleby Product -->
									{% else %}
										<!-- Start Single divisibleby Product -->
										<div class="col-lg-3 col-md-4 col-sm-6 col-12">
											<div class="product product__style--3">
												<div class="product__thumb">
													<a class="first__img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
													<a class="second__img animation1" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
													<div class="hot__box">
														<span class="hot-label">{{product.tag}}</span>
													</div>
												</div>
												<div class="product__content content--center content--center">
													<h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
													<ul class="prize d-flex">
														<li id="product-price-{{product.id}}">{{product.price}} руб.</li><!--!!!-->
														{% if product.past_price is not None %}
															<li class="old_prize">{{product.past_price}} руб.</li>
														{% endif %}
													</ul>
													<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
													<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
													<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
													<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
													<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
													<div class="action">
														<div class="actions_inner">
															<ul class="add_to_links">
																<li><a class="cart" title="Подробней" href="{{product.get_absolute_url}}"><i class="bi bi-shopping-bag4"></i></a></li>
																<li><a class="wishlist add-to-cart-btn {% if product.total_quantity < 1 %} disabled {% endif %}" title="В корзину" data-index="{{product.id}}" href="#" id="add-to-cart-btn"><i class="bi bi-shopping-cart-full"></i></a></li>
																<li><a class="compare" title="В избранное" data-product-item="{{product.id}}" href="#"><i class="bi bi-heart-beat"></i></a></li>
																<li><a data-toggle="modal" title="Быстрый просмотр" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- End Single divisibleby Product -->
										</div>
										{% if not forloop.counter|divisibleby:2 %}
										  {% if forloop.last %}
												</div>
											{% endif %}
										{% endif %}
									{% endif %}
								{% endif %}
							{% endfor %}
						</div>
					</div>
					<!-- End Single Tab Content -->
					{% for category in categories %}
						<!-- Start Single Tab Content -->
						<div class="row single__tab tab-pane fade" id="nav-{{category.url}}" role="tabpanel">
							<div class="product__indicator--4 arrows_style owl-carousel owl-theme">
								{% for product in all_products %}
								  {% if product.category.category.url == category.url %}
										{% if product.product_status == 'published' %}
											{% if not forloop.counter|divisibleby:2 %}
												<div class="single__product">
													<!-- Start Single not divisibleby Product -->
													<div class="col-lg-3 col-md-4 col-sm-6 col-12">
														<div class="product product__style--3">
															<div class="product__thumb">
																<a class="first__img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
																<a class="second__img animation1" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
																{% if product.tag is not None %}
																	<div class="hot__box">
																		<span class="hot-label">{{product.tag}}</span>
																	</div>
																{% endif %}
															</div>
															<div class="product__content content--center content--center">
																<h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
																<ul class="prize d-flex">
																	<li id="product-price-{{product.id}}">{{product.price}} руб.</li><!--!!!-->
																	{% if product.past_price is not None %}
																		<li class="old_prize">{{product.past_price}} руб.</li>
																	{% endif %}
																</ul>
																<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
																<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
																<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
																<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
																<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
																<div class="action">
																	<div class="actions_inner">
																		<ul class="add_to_links">
																			<li><a class="cart" title="Подробней" href="{{product.get_absolute_url}}"><i class="bi bi-shopping-bag4"></i></a></li>
																			<li><a class="wishlist add-to-cart-btn {% if product.total_quantity < 1 %} disabled {% endif %}" title="В корзину" data-index="{{product.id}}" href="#" id="add-to-cart-btn"><i class="bi bi-shopping-cart-full"></i></a></li>
																			<li><a class="compare" title="В избранное" data-product-item="{{product.id}}" href="#"><i class="bi bi-heart-beat"></i></a></li>
																			<li><a data-toggle="modal" title="Быстрый просмотр" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<!-- End Single not divisibleby Product -->
											{% else %}
												<!-- Start Single divisibleby Product -->
												<div class="col-lg-3 col-md-4 col-sm-6 col-12">
													<div class="product product__style--3">
														<div class="product__thumb">
															<a class="first__img" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
															<a class="second__img animation1" href="{{product.get_absolute_url}}"><img src="{{product.image.url}}" alt="product image"></a>
															<div class="hot__box">
																<span class="hot-label">{{product.tag}}</span>
															</div>
														</div>
														<div class="product__content content--center content--center">
															<h4><a href="{{product.get_absolute_url}}">{{product.title}}</a></h4>
															<ul class="prize d-flex">
																<li id="product-price-{{product.id}}">{{product.price}} руб.</li><!--!!!-->
																{% if product.past_price is not None %}
																	<li class="old_prize">{{product.past_price}} руб.</li>
																{% endif %}
															</ul>
															<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
															<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
															<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
															<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
															<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
															<div class="action">
																<div class="actions_inner">
																	<ul class="add_to_links">
																		<li><a class="cart" title="Подробней" href="{{product.get_absolute_url}}"><i class="bi bi-shopping-bag4"></i></a></li>
																		<li><a class="wishlist add-to-cart-btn {% if product.total_quantity < 1 %} disabled {% endif %}" title="В корзину" data-index="{{product.id}}" href="#" id="add-to-cart-btn"><i class="bi bi-shopping-cart-full"></i></a></li>
																		<li><a class="compare" title="В избранное" data-product-item="{{product.id}}" href="#"><i class="bi bi-heart-beat"></i></a></li>
																		<li><a data-toggle="modal" title="Быстрый просмотр" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- End Single divisibleby Product -->
												</div>
												{% if not forloop.counter|divisibleby:2 %}
													{% if forloop.last %}
														</div>
													{% endif %}
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<!-- End Single Tab Content -->
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- Start Our Services Area -->
		<!-- Our Service Area -->
		<section class="best-seel-area pt--80 pb--60">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section__title text-center pb--50">
							<h2 class="title__be--2">Наши <span class="color--theme">Услуги </span></h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered lebmid alteration in some ledmid form</p>
						</div>
					</div>
				</div>
			</div>
			<div class="slider center">
				{% for service in services %}
					<!-- Single service start -->
					<div class="product product__style--3">
						<div class="product__thumb">
							<a class="first__img" href="single-product.html"><img src="{{service.image.url}}" alt="product image"></a>
						</div>
						<div class="product__content content--center">
							<div class="action">
								<div class="actions_inner">
									<ul class="add_to_links">
										<li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
										<li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
										<li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
										<li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal-{{product.slug}}"><i class="bi bi-search"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Single service end -->
				{% endfor %}
			</div>
		</section>
		{% for product in all_products %}
		<!-- QUICKVIEW PRODUCT -->
		<div id="quickview-wrapper">
			<!-- Modal -->
			<div class="modal fade" id="productmodal-{{product.slug}}" tabindex="-1" role="dialog">
					<div class="modal-dialog modal__container" role="document">
							<div class="modal-content">
									<div class="modal-header modal__header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
									<div class="modal-body">
											<div class="modal-product">
													<!-- Start product images -->
													<div class="product-images">
															<div class="main-image images">
																	<img alt="big images" src="{{product.image.url}}">
															</div>
													</div>
													<!-- end product images -->
													<div class="product-info">
															<h1>{{product.title}}</h1>
															<div class="price-box-3">
																	<div class="s-price-box">
																			<h3>Цена: <span class="new-price" id="product-price-{{product.id}}">{{product.price}} руб.</span><!--!!!-->
																			{% if product.past_price is not None %}
																			<span class="old-price">{{product.past_price}}</span>
																			{% endif %}</h3>
																			<p><h3>В наличии: {{product.total_quantity}} шт.</h3></p>
																	</div>
															</div>
															<div class="quick-desc">
																<p><b>Описание:</b>{{product.description|safe}}</p>
															</div>
															<input type="hidden" value="1" name="product-qty" id="product-qty-{{product.id}}" class="product-qty"><!--!!!-->
															<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
															<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
															<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
															<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
															<div class="addtocart-btn">
																  {% if product.total_quantity is 0 %}
																		<a class="nav-link disabled" href="#productmodal-{{product.slug}}" tabindex="-1" aria-disabled="true">Нет в наличии</a>
																	{% else %}
																		<a href="#" class="add-to-cart-btn" id="add-to-cart-btn" data-index="{{product.id}}">В корзину</a>
																	{% endif %}
																	  <a href="{{product.get_absolute_url}}">Подробней</a>
																	
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
	<!-- END QUICKVIEW PRODUCT -->
	{% endfor %}
{% endblock content %}