{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Start Bradcaump area -->
	<div class="ht__bradcaump__area bg-image--4" style="background-image: url('{% static 'images/bg/4.jpg' %}')">
			<div class="container">
					<div class="row">
							<div class="col-lg-12">
									<div class="bradcaump__inner text-center">
										<h2 class="bradcaump-title">{{product.title}}</h2>
											<nav class="bradcaump-content">
												<a class="breadcrumb_item" href="{% url 'shop:index' %}">Домашняя</a>
												<span class="brd-separetor">/</span>
												<a class="breadcrumb_item active" href="{% url 'shop:index' %}">Магазин</a>
											</nav>
									</div>
							</div>
					</div>
			</div>
	</div>
	<!-- End Bradcaump area -->
	<!-- Start main Content -->
	<div class="maincontent bg--white pt--80 pb--55">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-12">
					<div class="wn__single__product">
						<div class="row">
							<div class="col-lg-6 col-12">
								<div class="wn__fotorama__wrapper">
									<div class="fotorama wn__fotorama__action" data-nav="thumbs">
											<a href="#0"><img src="{{product.image.url}}" alt=""></a>
										  {% for i in product.productshots_set.all %}
												<a href="#{{forloop.counter}}"><img src="{{i.image.url}}" alt=""></a>
											{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-12">
								<div class="product__info__main">
									<h1>{{product.title}}</h1>
									<div class="price-box">
										<span id="product-price-{{product.id}}">{{product.price}} руб.</span><!--!!!-->
									</div>
							<div class="product__overview">
										{{product.description|safe}}
									</div>
									<div class="box-tocart d-flex">
										<span>Кол-во</span>
										<input id="product-qty-{{product.id}}" class="input-text qty" name="product-qty" 
											{% if product.total_quantity < 1 %}
												min="0" value="0"
											{% else %}
											  min="1" value="1"
										  {% endif %} 
											  max="{{product.total_quantity}}" title="Qty" type="number"><!--!!!-->
										<div class="addtocart__actions">
											<input type="hidden" value="{{product.get_absolute_url}}" name="product-get_absolute_url" id="product-get_absolute_url-{{product.id}}"><!--!!!-->
											<input type="hidden" value="{{product.id}}" name="product-id" id="product-id-{{product.id}}" class="product-id"><!--!!!-->
											<input type="hidden" value="{{product.title}}" name="product-title" id="product-title-{{product.id}}"><!--!!!-->
											<input type="hidden" value="{{product.image.url}}" name="product-image" id="product-image-{{product.id}}"><!--!!!-->
											<input type="hidden" value="{% url 'cart:add-to-cart' %}" name="to_url" id="to_url"><!--!!!-->
											<button class="tocart add-to-cart-btn" type="submit" title="Add to Cart" data-index="{{product.id}}" id="add-to-cart-btn" {% if product.total_quantity < 1 %} disable {% endif %}>
												{% if product.total_quantity < 1 %} Нет в наличии {% else %}В корзину {% endif %} </button>
										</div>
								<div class="product-addto-links clearfix">
									<a class="wishlist" href="#" style="background: #ffffff url('{% static 'images/icons/product-info.png' %}') no-repeat scroll 0 0"></a>
								</div>
									</div>
							<div class="product_meta">
								<span class="posted_in">Категория: 
									<a href="{{product.category.get_absolute_url}}">{{product.category.name}}</a>
								</span>
							</div>
							<div class="product-share">
								<ul>
									<li class="categories-title">Share :</li>
									<li>
										<a href="#">
											<i class="icon-social-twitter icons"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-social-tumblr icons"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-social-facebook icons"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-social-linkedin icons"></i>
										</a>
									</li>
								</ul>
							</div>
								</div>
							</div>
						</div>
					</div>
					<div class="product__info__detailed">
				<div class="pro_details_nav nav justify-content-start" role="tablist">
												<a class="nav-item nav-link active" data-toggle="tab" href="#nav-specifications" role="tab">Характеристики</a>
										</div>
										<div class="tab__container">
											<!-- Start Single Tab Content -->
											<div class="pro__tab_label tab-pane fade show active" id="nav-specifications" role="tabpanel">
						<div class="description__attribute">
							{{product.specifications|safe}}
						</div>
											</div>
											<!-- End Single Tab Content -->
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End main Content -->
{% endblock content %}