{% load static %}
<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
  <div class="footer-static-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer__widget footer__menu">
            <div class="ft__logo">
              <a href="{% url 'shop:index' %}">
                <img src="{% static 'images/logo/3.png' %}" alt="logo">
              </a>
              <p>Обращаем ваше внимание на то, что данный интернет-сайт, а также вся информация о товарах и ценах,
                предоставленная на нём, носит исключительно информационный характер и ни при каких условиях не является
                публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. </p>
            </div>
            <div class="footer__content">
              <ul class="social__net social__net--2 d-flex justify-content-center">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-google"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="#"><i class="bi bi-youtube"></i></a></li>
              </ul>
              <ul class="mainmenu d-flex justify-content-center">
                <li><a href="{% url 'shop:index' %}">Магазин</a></li>
                <li><a href="{% url 'service:service' %}">Услуги</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright__wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright">
            <div class="copy__right__inner text-left">
              <p>Администрация Сайта не несет ответственности за размещаемые Пользователями материалы (в т.ч. информацию и изображения), их содержание и качество.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
