{% load static %}
<!-- Header -->
<header id="wn__header" class="header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <a href="{% url 'shop:index' %}">
            <img src="{% static 'images/logo/logo.png' %}" alt="logo images">
          </a>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li class="drop with--one--item"><a href="{% url 'shop:index' %}">Главная</a></li>
            <li class="drop"><a href="{% url 'shop:product_grid' %}">Магазин</a>
              <div class="megamenu mega03">
                {% for category in categories %}
                  <ul class="item item03">
                    <li class="title">{{category.name|safe}}</li>
                    {% for sub_cat in category.sub_category_set.all %}
                      <li><a href="{{sub_cat.get_absolute_url}}">{{sub_cat.name}}</a></li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </div>
            </li>
            <li><a href="{% url 'service:service' %}">Услуги</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li {% if user.is_authenticated %} class="shop_search" {% else %} class="shopsearch" {% endif %}><a class="search__active" href="#"></a></li>
          {% if user.is_authenticated %}
            <li class="wishlist"><a href="{% url 'wishlist:wishlist' %}"></a></li>
            <li class="shopcart"><a href="{% url 'cart:cart' %}"><span class="product_qun cart-items-count">{{request.session.cart_data_obj|length}}</span></a></li>
          {% endif %}
          <li class="setting__bar__icon"><a class="setting__active" href="#"></a>
            <div class="searchbar__content setting__block">
              <div class="content-inner">
                <div class="switcher-currency">
                  <strong class="label switcher-label">
                    {% if user.is_authenticated %} 
                      <span>Привет, {{user}}!</span> 
                    {% else %}
                      <span>Мой аккаунт</span>
                    {% endif %}
                  </strong>
                  <div class="switcher-options">
                    <div class="switcher-currency-trigger">
                      <div class="setting__menu">
                        {% if user.is_authenticated %} 
                          <span><a href="{% url 'wishlist:wishlist' %}">Избранное (<span class="wishlist-items-count">{{totalwishlistitems}}</span>)</a></span>
                          <span><a href="{% url 'cart:cart' %}">Корзина (<span class="cart-items-count">{{request.session.cart_data_obj|length}}</span>)</a></span>
                          <span><a href="{% url 'account:logout' %}">Выйти</a></span> 
                        {% else %}
                          <span><a href="{% url 'account:my_account' %}">Авторизация</a></span>
                          <span><a href="{% url 'account:my_account' %}">Зарегистрироваться</a></span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Start Mobile Menu -->
    <div class="row d-none">
      <div class="col-lg-12 d-none">
        <nav class="mobilemenu__nav">
          <ul class="meninmenu">
            <li><a href="{% url 'shop:index' %}">Главная</a></li>
            <li><a href="{% url 'shop:product_grid' %}">Магазин</a>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- End Mobile Menu -->
          <div class="mobile-menu d-block d-lg-none">
          </div>
          <!-- Mobile Menu -->	
  </div>		
</header>
<!-- //Header -->
<!-- Start Search Popup -->
<div class="brown--color box-search-content search_active block-bg close__top">
  <form id="search_mini_form" class="minisearch" action="{% url 'shop:search' %}" method='GET'>
    <div class="field__search">
      <input type="text" placeholder="Введите ваш запрос..." name='q'>
      <div class="action">
        <a href="#" onclick="document.forms['search_mini_form'].submit();"><i class="zmdi zmdi-search"></i></a>
      </div>
    </div>
  </form>
  <div class="close__wrap">
    <span>закрыть</span>
  </div>
</div>
<!-- End Search Popup -->
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      <strong>{{message}}</strong>
    </div>
    {% endfor %}
  {% endif %}
  <script>
  setTimeout (() => {
    $(".alert").alert("close")
  },5000)  
</script>