{% autoescape off %}
Привет {{ user.username }},

Мы получили запрос на сброс пароля для аккаунта привязанному к данному имейл адресу. Чтоб продолжить сброс пароля - перейди по ссылке ниже.

{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

Ссылка может быть использована единоразово. Если нужно сбросить пароль повторно, пожалуйста, перейдите на {{ protocol }}://{{domain}} и сделайте запрос заново.

Если данный запрос инициирован не Вами - проигнорируйте, пожалуйста, данное письмо.

С уважением, Администрация {{domain}}

{% endautoescape %}