{% extends 'base.html' %}
{% load static %}
{% block content %}
		<!-- Start Bradcaump area -->
		<div class="ht__bradcaump__area bg-image--6" style="background-image: url('{{banner.image.url}}')">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="bradcaump__inner text-center">
                    <h2 class="bradcaump-title">Мой аккаунт</h2>
                      <nav class="bradcaump-content">
                        <a class="breadcrumb_item" href="{% url 'shop:index' %}">Домашняя</a>
                        <span class="brd-separetor">/</span>
                        <span class="breadcrumb_item active">Сброс пароля</span>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Bradcaump area -->
  <!-- Start My Account Area -->
  <section class="my_account_area pt--80 pb--55 bg--white">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="my__account__wrapper">
            <h3 class="account__title"></h3>
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>{{form.errors}}</strong>
            </div>
            {% endif %}
            <form action = "" method='POST'>
              {% csrf_token %}
              <div class="account__form">
                <div class="input__box">
                  {{ form }}
                </div>
                <div class="form__btn">
                  <button type="submit">Применить пароль</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End My Account Area -->
{% endblock content %}